.red-border{
    border: 2px solid red;
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    margin: 20px auto;
}


.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}