.navbar-item{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border-radius: 5px;
}


.navbar ul{
    margin: 0;
    padding: 15px 55px;
    border-radius: 5px;
}

.navbar ul:hover{
    background-color: rgb(86, 253, 155);
}

.navbar ul li{
    list-style: none;
    

}

.navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: rgb(100, 100, 100);
    text-align: center;
}